body{
	margin: 0;
}

/*PAGE 1 - Home*/

/*header editing*/
#backgroundHeader{
	background-color: #474E59;
	color: white;
	width: 100%;
}
#marginChanger{
	width: 90%;
	margin: auto;
}
#header{
	display: flex;
	padding: 1.5vh;
	justify-content: center;
	align-items: center;
}
#header h1{
	margin: 0;
	flex: 10;
}
#header span{
	color: #FF512E;
}
#header a{
	margin: 0vw 1vw;
	text-align: right;
	color: white;
	text-decoration: none;
	text-align: center;
	flex: 1;
	transition: 1s ease;
}
a#activeLink{
	color: #FF512E;
}
#header a:hover{
	color: rgba(255, 255, 255, 0.3);
}
a#activeLink:hover{
	color: #FF512E;
}

/*#FF512E line editing */
.orangeLine{
	border-top: 3px solid #FF512E;
	height: 0px;
	width: 100%;
}

/*background image*/
#backgroundImage{
	background-image: url("https://wallpaperaccess.com/full/214901.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 50vh;
	overflow: hidden;
}
#imageText{
	color: #FF512E;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
#imageTitle{
	font-size: 5vh;
	margin: 0vw 10vw;
}
#imageDescription{
	font-size: 2.5vh;
	margin: 1vw 20vw;
}

/*newsletter styling*/
#newsletterBackground{
	background-color: #474E59;
}
#newsletterContent{
	width: 90%;
	margin: auto;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s ease;
}
.newsletterContents{
	margin: 1vh 0vh;
	font-size: 1.2rem;
}
p.newsletterContents{
	flex: 30;
}
input.newsletterContents{
	margin-right: 0.3vw;
	flex: 4;
}
button.newsletterContents{
	background-color: #FF512E;
	border: none;
	flex: 1;
}

/*body content*/
#bodyContent{
	width: 90%;
	margin: auto;
	display: flex;
}
.paragraphs{
	text-align: center;
	width: 30%;
	padding: 5% 0%;
	margin: 0% 2%;
}
.paragraphs img{
	width: 15vw;
	height: 15vw;
	align-items: center;
}
.paragraphs p{
	font-size: 1.4em;
}

/*footer*/
#footer{
	background-color: #FF512E;
	text-align: center;
	color: white;
	padding: 0.1%;
}

/*adjusting css based on screen size*/
@media only screen and (max-width: 600px){
	#bodyContent{
		flex-direction: column;
	}
	.paragraphs{
		width: 100%;
		margin: 0% 0%;
		transition: 1s ease-out;
	}
	#htmlImage{
		width: 50vw;
		height: 20vh;
	}
	.paragraphs img{
		width: 25vw;
		height: 30vw;
	}
	.newsletterContents b{
		font-size: 0.6em;
	}
	input.newsletterContents{
		margin-right: 0.1vw;
		flex: 4;
		height: 100%;
		font-size: 0.65em;

	}
	button.newsletterContents{
		background-color: #FF512E;
		border: none;
		flex: 1;
		height: 1%;
		font-size: 0.8em;
	}
}


/*PAGE 2 - About*/
#aboutText{
	width: 70%;
	padding: 5% 0%;
	margin: 0% 2%;
	font-size: 1.4em;
}
#aboutTextboxWrapper{
	width: 20%;
	padding: 5% 2%;
	margin: 0% 2%;
	color: white;
	font-size: 1.4em;
}
#aboutTextbox{
	background-color: #474E59;
	padding: 5% 10%;
}
#aboutText h1{
	margin: 0;
}

/*Adjusting css based on screen size*/
@media only screen and (max-width: 600px){
	#bodyContent{
		flex-direction: column;
	}
	#aboutText{
		width: 100%;
		margin: 0% 0%;
	}
	#aboutTextboxWrapper{
		width: 100%;
		margin: 0% 0%;
	}
}

/*PAGE 3 - Services*/
.services{
	background-color: #DBDBDB;
	padding: 2%;
	margin: 5%;
	border: 2px #B5B5B5 solid;
}
.servicesTitle{
	font-size: 1.5rem;
}
.myForm input[type="text"], input[type="email"], textarea{
	display: block;
	padding: 1%;
	width: 90%;
}
#submitButton{
	border: none;
	background-color: #FF512E;
	padding: 5% 7%;
	color: white;
}

/*PAGE 4 - Contact*/

#contactContent{
	width: 90%;
	margin: auto;
}
#contactTitle{
	margin-top: 5%;
	font-size: 3em;
}


/*Copied from day 1*/
.myForm{
	display: inline;
}
.myForm label{
	display: block;
}
.myForm input[type="text"], input[type="tel"], input[type="email"], .myForm textarea{
	display: block;
	padding: 1%;
	width: 90%;
}
#address{
	display: block;
	width: 25%;
	float: left;
	margin-top: 18px;
	line-height: 1.4em;
}
.btn1{
	background-color: white;
	border: none;
	border: 1px black solid;
	padding: 10px 15px 10px 15px;
	border-radius: 10px;
}
.btn1:hover{
	color: white;
	background-color: black;
	transition: 0.2s ease-in-out;
	//padding: 15px 20px 15px 20px;
	cursor: pointer;
	border-radius: 5px;
}
#formDiv{
	width: 75%;
	float: left;
	font-size: 1.4em;
}